{% extends "base.html" %}
{% from 'developer/utils/macros' import icon_button %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Applications') }}</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ _('`Id')}}</th>
          <th>{{ _('Name')}}</th>
          <th>{{ _('Description')}}</th>
          <th>{{icon_button(url_for('dev.new_app'), 'add', 'Create application')}}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
          {% include 'developer/_app_row.html' %}
        {% endfor %}
      </tbody>
    </table>
    {% include '_pager.html' %}
    
{% endblock %}
